@import "padding";
@import "margin";
@import "variables";
@import "font-size";


h1, h2, h3, h4, h5, h6 {
  margin: 1.2em 0;
}

.d-flex {
  display: flex;
}

.text-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.text-gray {
  color: $light-gray !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-danger {
  color: $danger !important;
}

.text-warning {
  color: $warning !important;
}

.text-decoration-none {
  text-decoration: none;
}

.bg-secondary {
  background-color: $secondary;
}

.text-primary {
  color: $primary;
}

.text-info {
  color: $info !important;
}


.bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline !important;
}

h1 {
  font-size: 30px;
  margin-bottom: .5em;
}

.pointer {
  cursor: pointer !important;
}

.ellipsis {
  white-space: nowrap !important; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.disabled * {
  cursor: text !important;
  color: $light-gray !important;
}

.posr {
  position: relative;
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-wrap-only {
  white-space: nowrap;
}

.bgi {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.f-gr-1 {
  flex-grow: 1 !important;
}

.d-block {
  display: block !important;
}

.justify-center {
  justify-items: center !important;
}

.align-items-center {
  align-items: center !important;
}

.drop-padding-and-overflow {
  mat-dialog-container {
    padding: 0 !important;
    overflow: hidden;
  }
}

.bg-info {
  background-color: $info;
}

.mx-auto {
  margin: 0 auto !important;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.items-start {
  align-items: start;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.w25 {
  width: 25%;
}

.w75 {
  width: 75%;
}

.w60 {
  width: 60%;
}

.w40 {
  width: 40%;
}

.container {
  max-width: 960px;
  margin: auto;
}

