<img src="/assets/img/komp.jpg" alt="профайл">
<!--<h5 class="text-uppercase text-white">Профайл компании</h5>-->
<!--<p class="text-white f14">-->
<!--  Союз – ваш надежный партнер по созданию, модернизации-->
<!--  и обслуживанию IT инфраструктур любого объема и сложности-->
<!--</p>-->


<h5 class="text-uppercase text-white">Последние проекты</h5>
<p class="text-white f14 mb16">
  Сеть оптомаркетов "Шекер" - за последние 5 лет работы с нашими
  добрыми партнерами мы прошли огонь, води и медные трубы.
</p>

<p class="text-white f14 mb16">
  Сеть бутиков брэндовой одежды "Luxor", настройка инфраструктуры компьютеров,
  серверов, прокладка кабелей, установка настроек видеокамер.
</p>

<p class="text-white f14 mb16">
  Сеть бутиков обуви "Nursace"
</p>

<p class="text-white f14 mb16">
  Сеть микрокредитных компаний Фонте кредит
</p>

<p class="text-white f14 mb16">
  Дистрибьюторская фирма ViViCo
</p>






