@import "../styles/variables";
.fa-bars {
  display: none;
}
.logo {
  background-size: contain;
  width: 240px;
  height: 100px;
  background-repeat: no-repeat;
}

.left-side {
  background-color: $primary-deep;
}

.support {
  background-size: cover;
  height: 132px;
  background-repeat: no-repeat;
  width: 100%;
}

.flex-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  .left-side {
    min-width: 440px;
  }
  .right-side {
    min-width: 440px;
  }
}

.side-bar {
  position: absolute;
  right: 16px;
  top: 16px;

}

@media all and (max-width: 470px){

  .left-side, .right-side {
    min-width: auto !important;
    width: 100% !important;
    font-size: 12px;
  }


}

@media all and (max-width: 878px){

  .fa-bars {
    display: block;
  }


}
