<div class="container">
  <div class="d-flex flex-wrapper">
    <div class="left-side w-50p p16 posr">
      <div class="logo"></div>
      <i class="fa fa-bars text-white side-bar f24" (click)="openSideBar()" ></i>
    </div>
    <div class="right-side w-50p pt16 px32 pb16 support">
      <union-mini-menu></union-mini-menu>
    </div>
  </div>

  <union-menu></union-menu>
  <div class="d-flex">
    <union-slogan></union-slogan>
    <div class="posr">
      <div class="company-face">

      </div>
    </div>
  </div>

</div>
