<div class="w100 bg-secondary container">
    <div class="d-flex">
      <div class="w-30p p16">
        <a class="text-decoration-none text-white" href="http://gordondalos.github.io/#/">Копирайт gordondalos.github.io</a>
      </div>
      <div class="w-70p d-flex px16 bg-white pt16">
        <a class="text-gray text-decoration-none f14 mx16" routerLink="/partner">Партнеры</a>
        |
        <a class="text-gray text-decoration-none f14 mx16" routerLink="/soft">Софт</a>
<!--        |-->
<!--        <a class="text-gray text-decoration-none f14 mx16" routerLink="/contact">Контакты</a>-->

      </div>
    </div>
</div>
