<h3>О Нас</h3>

<p>
  Союз - компания, оказывающая услуги по обслуживанию ИТ-инфраструктуры,
  а также созданию ИТ-инфраструктуры с нуля и ее модернизации.
</p>

<p>
  Вы можете положиться на наш более чем десятилетний опыт работы и компетенции наших специалистов,
  чтобы ваши компьютеры, серверы, сеть работали именно так, как было задумано.
  Говоря о компетенциях, мы имеем в виду как многолетний опыт решения самых разнообразных проблем.
</p>

<p>
  Мы регулярно интересуемся у клиентов, что именно способствует нашему долгому сотрудничеству с ними.
</p>

<p>
  В результате этих опросов мы увидели, что главным для них являются те же факторы,
  на которые и мы сами делаем основной упор в работе.
</p>


<h4>Как мы работаем</h4>

<ul>
  <li>Предварительное обследование.</li>
  <li>Выясняем что конкретно нужно новому клиенту.</li>
  <li>Выясняем, что и в каком режиме нужно обслуживать.</li>
  <li>Проводим стартовый аудит.</li>
  <li>Высылаем коммерческое предложение и договор на обслуживание.</li>
  <li>Заключение договора.</li>
  <li>Заключаем договор на обслуживание и соглашение о конфиденциальности.
  </li>
  <li>С этого момента все вопросы, связанные с ИТ, вы можете адресовать нам.
  </li>
</ul>


<h4>Режим обслуживания.</h4>

<p>
  Назначаем ответственного менеджера и инженера, которые всегда в курсе текущей
  ситуации у данного конкретного клиента.
</p>
<p>
  Составляем подробное описание ИТ-инфраструктуры клиента.
</p>
<p>
  Оперативно устраняем все возникающие инциденты.
</p>

<p>
  Ведем полный журнал всех инцидентов и изменений в системе ServiceDesk.
</p>


<h4>Оптимизация работы.</h4>

<p>
  Уже в процессе стартового аудита мы получаем информацию для улучшения работы всех ИТ-систем.
</p>

<p>
  В процессе обслуживания мы анализируем ИТ-инфраструктуру, оптимизируем ее, разрабатываем предложения по улучшению.

</p>
<p>
  Изменения, согласованные с заказчиком, выполняются в рамках обслуживания либо в виде отдельных проектов.
</p>

<p>
  Мы осуществляем информационную поддержку клиентов, рассказываем им о новых технологиях, которые могут помочь в ведении бизнеса.
</p>

<h4>Мы развиваемся</h4>

<p>
  Если в этом описании не указано вашей задачи - обратитесь к нашим специалистам. Возможно, будет решен и ваш вопрос.
  Мы постоянно развиваемся, а идеи о взаимодействии по некоторым новым направлениям нам подсказывает сама жизнь и клиенты.
</p>

<h4>География наших услуг</h4>
Большинство наших клиентов, заключивших абонентский договор на услуги аутсорсинга ИТ-систем,
находятся в Бишкеке и близлежащих к Бишкеку поселков.
При этом мы активно расширяем географию предоставления наших услуг.
