<h3 class="mb16">
  Наши услуги
</h3>

<div class="d-flex cards">
  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчёт, установка, настройка и ремонт
      компьютеров и офисного оборудования</h5>
    <ul>
      <li>Смета на оборудование в зависимости от требований клиента</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Сборка, установка ОС, подключение к сети компьютеров, принтеров сканеро</li>
    </ul>


  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчёт, установка, настройка и ремонт серверов</h5>
    <ul>
      <li>Развертывание сервера для 1с и торгсофт</li>
      <li>Бекап</li>
      <li>Сервера баз данных</li>
      <li>Сервер почты</li>
      <li>Сервер документооборота и треккера задача)</li>
      <li>Смета на оборудование в зависимости от требований клиента</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Монтаж стоек и серверов, установка ОС и ПО.</li>
      <li>Настройка ролевых моментов. Бэкап, БД, домен</li>
    </ul>

  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчёт, установка, настройка и ремонт видеонаблюдения</h5>
    <ul>
      <li>Смета и карта систем видеонаблюдения</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Прокладка кабелей, установка камер, установка регистраторов, блоков питания,
        cетевого оборудования, щитов для оборудования</li>
      <li>Настройка доступа через интернет.</li>
    </ul>
  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчет монтаж эксплуатация энерго систем.</h5>
    <ul>
      <li>Смета на оборудование в зависимости от требований клиента</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Монтаж инверторов, аккумуляторов, стабилизаторов, электрощитков, прокладка кабелей.</li>
    </ul>
  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчёт, установка, настройка и ремонт сетей</h5>
    <ul>
      <li>Смета и карта сети</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Прокладка кабелей, установка сетевого оборудования, розеток RJ-45, щитов для оборудования, настройка интернет.</li>
    </ul>
  </mat-card>


  <mat-card class="w-32p f14">

    <h5 class="mb16"><i class="fa fa-cog"></i> Системный администратор</h5>
    Решайте свои задачи с помощью выездного системного администратора от нашей компании.
  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Компьютерная помощь</h5>
    <ul>
      <li>Установим операционную систему и любые программы,</li>
      <li>Настроим подключение к интернету, </li>
      <li>Удалим вирусы, восстановим данные.</li>
    </ul>
  </mat-card>


  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Ремонт торговой техники</h5>
    <ul>
      <li> Смета на оборудование в зависимости от требований клиента</li>
      <li>Закупка оборудования (выбор марок оборудования и поставщиков)</li>
      <li>Монтаж и подключение к сети весов принтеровг) настройка ТСД на работу с компьютером</li>
    </ul>
  </mat-card>

  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Расчёт, установка, настройка и обслуживание ПО</h5>
    <ul>
      <li>Установка Торгсофт</li>
      <li>Обучение Торгсофт</li>
      <li>Дополнительные опции к программе, настройка по желанию клиента</li>
    </ul>
  </mat-card>


  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Разработка оригинальных решений для бизнеса</h5>
    <ul>
      <li>Рассылка смс</li>
      <li>Написание программного обеспечения</li>
      <li>Наклейки</li>
      <li>Уникальная печать</li>
      <li>Безопасность</li>
      <li>Одна машина несколько клиентов</li>
    </ul>
  </mat-card>


</div>
