<div class="d-flex w100 py8 bg-secondary menu">
  <a href="#" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Главная</a>
  <a href="#" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Окомпании</a>
  <a href="#" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Услуги</a>
  <a href="#" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Решения</a>
  <a href="#" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Контакты</a>
</div>
