<div class="d-flex w100 py8 bg-secondary menu">
  <a routerLink="/" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Главная</a>
  <a routerLink="/about" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> О компании</a>
  <a routerLink="/service" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Услуги</a>
  <a routerLink="/price" class="px16 text-white text-decoration-none"><i class="fa fa-forward f12"></i> Прайс лист</a>
</div>
