<p>
  Союз - компания, оказывающая услуги по обслуживанию
  ИТ-инфраструктуры наших клиентов. Мы также проводим
  работы по созданию и модернизации ИТ-инфраструктуры.
  Вам нужно, чтобы компьютеры, серверы, сети в вашей компании работали
  без сбоев – обратитесь к нам, и мы сделаем все, чтобы вы концентрировались только на бизнесе.
</p>

<div class="d-flex align-items-center mt16">
  <h3 class="mt16 mb16 mr16">
    Услуги компании
  </h3>
  <a  mat-raised-button>показать все</a >
</div>

<p class="mb16">Мы вынесли самые востребованные услуги на главную страницу,
  но у вас также есть возможность ознакомиться с полным перечнем предоставляемых услуг нашей IT-компании,
  нажав на кнопку "Показать все".
  Надеемся, что вы достойно оцените качество нашего сервиса!</p>

<div class="d-flex cards mt32">
  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Компьютеры</h5>
    Установка и настройка любых популярных операционных систем и ПО,
    модернизация и замена компьютеров, обслуживание любой офисной техники.
  </mat-card>
  <mat-card class="w-32p f14">

    <h5 class="mb16"><i class="fa fa-cog"></i> Сети</h5>
    Решим любые вопросы, связанные с настройкой, модернизацией и обслуживанием локальных сетей.
  </mat-card>
  <mat-card class="w-32p f14">
    <h5 class="mb16"><i class="fa fa-cog"></i> Сервера</h5>
    Настройка и обслуживание виртуальных серверов, удаленное администрирование и постоянный мониторинг.
  </mat-card>
</div>


