



<!--<img src="assets/img/Luxor.png" alt="">-->
<!--<img src="assets/img/opt.png" alt="">-->

<div class="d-flex cards">
  <mat-card class="w-32p f14">
    <img src="assets/img/1c.png" alt="">
  </mat-card>
  <mat-card fxLayoutAlign="center" class="w-32p f14">
    <img src="assets/img/mikro.svg" alt="">
  </mat-card>
  <mat-card class="w-32p f14">
    <img src="assets/img/torg.svg" alt="">
  </mat-card>
  <mat-card class="w-32p f14">
    <img src="assets/img/web.png" alt="">
  </mat-card>
</div>
